<p id="notice"><%= notice %></p>

<h1>Trabajos y ventas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Client</th>
      <th>Stock</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.fecha %></td>
        <td><%= job.client.apeynom %></td>
        <td><%= job.stock.productootrabajo %></td>
        <td><%= job.cantidad %></td>
        <td><%= job.precio %></td>
        <td><%= job.total %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
