<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @stock.productootrabajo %>
</p>

<p>
  <strong>$ Costo:</strong>
  <%= @stock.precosto %>
</p>

<p>
  <strong>$ Venta:</strong>
  <%= @stock.preventa %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @stock.cantidad %>
</p>

<%= link_to 'Modificar', edit_stock_path(@stock) %> |
<%= link_to 'Volver', stocks_path %>
