<p id="notice"><%= notice %></p>

<h1>Administración de Clientes</h1>

<% form_tag clients_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Dni</th>
      <th>Apeynom</th>
      <th>Celular</th>
      <th>Domicilio</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.dni %></td>
        <td><%= client.apeynom %></td>
        <td><%= client.celular %></td>
        <td><%= client.domicilio %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to("Edit", {:action => 'edit', :id => client.id }, :class => 'action edit') %>

<%= link_to 'New Client', new_client_path %>
